Repository mapado/rest-client-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

.lintstagedrc:

"src/**/*.php":
  - "yarn run prettier --write"
  - "vendor/bin/php-cs-fixer fix --config=.php_cs"
  - "git add"

"Tests/**/*.php":
  - "vendor/bin/php-cs-fixer fix --config=.php_cs"
  - "git add"

Bump version: 0.36.0 → 0.36.1
  .bumpversion.cfg
  README.md
Due: none

update Changelog
  CHANGELOG.md
Due: none

style
  src/Collection/Collection.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Update README.md
  README.md
Due: none

Start migration from travis to github action
  .github/workflows/php.yml
Due: none

update scenarios
  .scenarios.lock/symfony2/composer.json
  .scenarios.lock/symfony3/composer.json
  .scenarios.lock/symfony3/composer.lock
  .scenarios.lock/symfony4-php74/composer.json
  .scenarios.lock/symfony4-php74/composer.lock
  .scenarios.lock/symfony4/composer.json
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony5/composer.json
  .scenarios.lock/symfony5/composer.lock
  composer.json
  composer.lock
Due: none

add all scenarios
  .github/workflows/php.yml
Due: none

__unserialize return type
  src/Collection/Collection.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

fix return type ¯\_(ツ)_/¯
  .scenarios.lock/symfony2/composer.lock
  .scenarios.lock/symfony3/composer.lock
  .scenarios.lock/symfony4-php74/composer.lock
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony5/composer.lock
  src/Collection/Collection.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Delete .travis.yml
  .travis.yml
Due: none

Update php.yml
  .github/workflows/php.yml
Due: none

Upgrade to PHP 8.1
  .atoum.php
  .github/workflows/php.yml
  .lintstagedrc
  .php-cs-fixer.php
  .scenarios.lock/symfony2/.gitignore
  .scenarios.lock/symfony2/composer.json
  .scenarios.lock/symfony2/composer.lock
  .scenarios.lock/symfony3/.gitignore
  .scenarios.lock/symfony3/composer.json
  .scenarios.lock/symfony3/composer.lock
  .scenarios.lock/symfony4-php74/.gitignore
  .scenarios.lock/symfony4-php74/composer.json
  .scenarios.lock/symfony4-php74/composer.lock
  .scenarios.lock/symfony4/composer.json
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony5/composer.json
  .scenarios.lock/symfony5/composer.lock
  CHANGELOG.md
  composer.json
  composer.lock
  src/Collection/Collection.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Update CHANGELOG.md
  CHANGELOG.md
Due: none

drop symfony 2&3, handle symfony 6
  .github/workflows/php.yml
  composer.json
Due: none

upgrade symfony
  .scenarios.lock/symfony4/composer.json
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony6/.gitignore
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
Due: none

Start migrating to phpunit
  .atoum.yml
  .github/workflows/php.yml
  .gitignore
  .php-cs-fixer.php
  .scenarios.lock/symfony2/composer.json
  .scenarios.lock/symfony2/composer.lock
  .scenarios.lock/symfony4/composer.json
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  .scrutinizer.yml
  Tests/Model/Enum/StateEnum.php
  Tests/Model/Enum/StateMachine.php
  Tests/Units/Collection/Collection.php
  Tests/Units/Collection/CollectionTest.php
  Tests/Units/Collection/HalCollection.php
  Tests/Units/Collection/HalCollectionTest.php
  Tests/Units/Mapping/ClassMetadata.php
  Tests/Units/Mapping/ClassMetadataTest.php
  Tests/Units/Mapping/Driver/AnnotationDriver.php
  Tests/Units/Mapping/Driver/AnnotationDriverTest.php
  Tests/Units/Model/ModelHydrator.php
  Tests/Units/Model/ModelHydratorTest.php
  Tests/Units/Model/Serializer.php
  Tests/Units/Model/SerializerTest.php
  Tests/data/state_machine.json
  composer.json
  composer.lock
  phpunit.xml
  src/Collection/Collection.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

migrate all tests to phpunit
  Tests/Units/Collection/HydraPaginatedCollection.php
  Tests/Units/Collection/HydraPaginatedCollectionTest.php
  Tests/Units/EntityRepository.php
  Tests/Units/EntityRepositoryTest.php
  Tests/Units/Mapping.php
  Tests/Units/MappingTest.php
  Tests/Units/RestClient.php
  Tests/Units/RestClientTest.php
  Tests/Units/SdkClient.php
  Tests/Units/SdkClientRegistry.php
  Tests/Units/SdkClientRegistryTest.php
  Tests/Units/SdkClientTest.php
  Tests/Units/UnitOfWork.php
  Tests/Units/UnitOfWorkTest.php
Due: vendor/bin/php-cs-fixer fix --config=.php_cs

remove symfony 2 scenario
  .scenarios.lock/symfony2/composer.json
  .scenarios.lock/symfony2/composer.lock
Due: none

Fix tests
  Tests/Model/Issue75/Tag.php
  Tests/Model/Issue90/WithIdInt.php
  Tests/Model/JsonLd/CartItem.php
  Tests/Model/JsonLd/Order.php
  Tests/Model/JsonLd/Product.php
  Tests/Units/EntityRepositoryTest.php
  Tests/Units/Mapping/Driver/AttributeDriverTest.php
  src/Mapping/Attributes/Id.php
  src/Mapping/Driver/AttributeDriver.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

fix phpstan
  src/Mapping/Attributes/AbstractClassAttribute.php
  src/Mapping/Attributes/AbstractPropertyAttribute.php
  src/Mapping/Attributes/Entity.php
  src/Mapping/Attributes/Id.php
  src/Mapping/Attributes/ManyToOne.php
  src/Mapping/Attributes/OneToMany.php
  src/Mapping/Attributes/Relation.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Update README.md with attributes
  README.md
Due: none

Update workflow to create cache folder
  .github/workflows/php.yml
Due: none

Remove MappingAttribute Interface
  src/Mapping/Attributes/AbstractClassAttribute.php
  src/Mapping/Attributes/AbstractPropertyAttribute.php
  src/Mapping/Attributes/MappingAttribute.php
  src/Mapping/Driver/AttributeDriver.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Code review changes
  Tests/Units/Mapping/Driver/AttributeDriverTest.php
  src/Mapping/Driver/AttributeDriver.php
  src/Model/Serializer.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Re-add DateTime && DateTimeImmutable imports
  src/Model/Serializer.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Re-add DateTime && DateTimeImmutable imports
  Tests/Units/Model/SerializerTest.php
Due: vendor/bin/php-cs-fixer fix --config=.php_cs

CR change
  Tests/Units/EntityRepositoryTest.php
Due: vendor/bin/php-cs-fixer fix --config=.php_cs

Upgrade prettier to allow setting phpVersion
  .prettierrc
  package.json
  yarn.lock
Due: none

Change version for PHP 8.1
  .prettierrc
Due: none

Migration to phpstan 1.10 WIP
  .scenarios.lock/symfony4/composer.json
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony5/composer.json
  .scenarios.lock/symfony5/composer.lock
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  composer.json
  composer.lock
  package.json
  src/Collection/Collection.php
  src/Collection/HydraPaginatedCollection.php
  src/Mapping/ClassMetadata.php
  src/Model/ModelHydrator.php
  src/Model/Serializer.php
  src/RestClient.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Fix the more important. I\'m almost done
  src/EntityRepository.php
  src/Helper/ArrayHelper.php
  src/Mapping.php
  src/Mapping/Annotations/Entity.php
  src/Mapping/ClassMetadata.php
  src/Mapping/Driver/AnnotationDriver.php
  src/Model/ModelHydrator.php
  src/UnitOfWork.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Fix tests
  Tests/Model/JsonLd/Product.php
  src/Mapping/Annotations/Entity.php
  src/Mapping/Driver/AnnotationDriver.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Fix phpstan error
  src/SdkClient.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Remove useless repository
  composer.json
Due: none

fix
  src/Mapping/Annotations/Entity.php
Due: yarn run prettier --write, vendor/bin/php-cs-fixer fix --config=.php_cs

Update composer.json
  .scenarios.lock/symfony4/composer.json
Due: none

Update composer files
  .scenarios.lock/symfony4/composer.json
  .scenarios.lock/symfony4/composer.lock
  .scenarios.lock/symfony5/composer.json
  .scenarios.lock/symfony5/composer.lock
  .scenarios.lock/symfony6/composer.json
  .scenarios.lock/symfony6/composer.lock
  composer.lock
Due: none
